*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: #b3ffb3;
}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 40%;
	margin: auto;
}
button{
	text-align: center;
	border-radius:10px ;
	margin: .2em;
	padding: 1.3em;
	width: 22%;
	font-size:24px;
	background-color:rgba(255,255,255,0.3);
}

button:hover
{
	background-color: rgba(3, 252, 95,0.2);
	box-shadow: 1px 1px 10px #b3ffb3;
	font-weight: bold;	
}
#clear{
	width: 44%;
}
#input,#result{
	width: 39%;
	text-align: right;
	margin: auto;
	font-size: 2.2em;
}
#inter{
	font-size: 2.2em;
	color: #595959;
}
#result{
	background-color:rgba(255,255,255,0.3);
}
#block{
	text-align: right;
	background-color:rgba(255,255,255,0.3) ;
	margin: auto;
	width: 39%;
	border-bottom: none;
	overflow-x: auto;
	scroll-behavior: smooth;
	height: 80px;
	border-radius: 4px 4px 0px 0px;
}
#result{
	padding-top: 5px;
	border-radius: 0px 0px 4px 4px;
	border-top: none;
	height: 50px;
	color: #808080;
	font-size: 1.5em;
}
i{
	font-size: 1.2em;
	color: red;
}
.change{
	color: blue;
}
@media screen and (max-width: 768px){
	.container,#input,#result,#block{
		width: 100%;
	}
	#input,#result{
		padding: 5px;
	}
	button{
		padding: 1em;
		font-size: 22px;
	}

}